body {

    background-color:#E5D1FA;
    margin: 0;
    text-align: center;
    font-family: 'EB Garamond', serif;


}



h1 {
    margin-top: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Mynerve', serif;
    color: rgb(9, 9, 9);
}

.enthu {
    text-decoration: underline;
    font-family: 'Lucida Sans';
}

h2 {

    top: 200px;
    right: 500px;
    font-family: 'comic sans', sans-serif;
    color: rgb(63, 22, 209);
    font-size: 2.50rem;
}

.top-container {
    padding-top: 100px;
    /*means 200px down of body*/
    position: relative;
    /*initiation of position relative while other are wrt to this*/

}

.middle-container {
    padding-top: 0%;
}

.bottom-container {
    background-color: aquamarine;

}

.bottomcloud {
    position: absolute;
    top: 300px;
    left: 300px;
    filter: contrast(200%);
}

.topcloud {
    position: absolute;
    top: 50px;
    right: 300px;
    filter: contrast(200%);
}

.mypicture {
    padding-top: 100px;
    border-radius: 60%;
}

hr {
    border-width: 4px;
    border-color: black;
}

h4 {
    color: rgb(9, 90, 19);
    font-size: 2.1rem;
}

.hello {

    position: absolute;
    left: 400px;

}

h3 {
    display: inline-block;
    font-size: 3rem;
    font-family: 'Tilt Prism';
}

.dot {
    border-width: 6px;
    width: 15%;
    margin: auto;
}
